:root {
	font-size: 62%;
	--font-size-small: 1.2rem;
	--font-size-regular: 1.4rem;
	--font-size-large: 1.5rem;
	--font-weight-normal: normal;
	--font-weight-bold: bold;
	--text-color: #636372;
	--title-color: #06061b;
	--default-color: #fff;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, p, h2, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.main {
	width: 100%;
	height: 100%;
}

.posts_container {
	display: grid;
	grid-template-columns: repeat(3, 426px);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 30px;
	row-gap: 65px;
	padding: 75px 50px 65px;
	background-color: #f9f9f6;
	justify-content: space-between;
}

.post {
	position: relative;
}

.post_date {
	position: absolute;
	right: 15px;
	top: 15px;
	display: block;
	padding: 6px 10px;
  margin: 0 0 1px;
  border-radius: 13.5px;
  background-color: rgba(6, 6, 27, 0.31);
	color: var(--default-color);
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-bold);
}

.post_pic {
	height: 240px;
	width: 100%;
	border: 2px solid #000;
}

.post_title {
	margin-top: 15px;
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	color: var(--title-color);
}

.post_description {
	margin-top: 5px;
	font-size: var(--font-size-regular);
	font-weight: var(--font-weight-normal);
	color: var(--text-color);
}

@media only screen and (max-width: 1366px) { 
	.posts_container {
		grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
		row-gap: 50px;
	}
}

@media only screen and (max-width: 1024px) { 
	.post_pic {
		height: 240px;
	}
}

@media only screen and (max-width: 1200px) { 
	.posts_container {
		grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	}
}

@media only screen and (max-width: 992px) { 
	.posts_container {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
	.post_pic {
    height: 225px;
	}
}

@media only screen and (max-width: 769px) { 
	.posts_container {
		grid-template-columns: 426px;
    padding: 50px 0;
    place-content: center;
	}
}

@media only screen and (max-width: 576px) { 
	.posts_container {
		grid-template-columns: 370px;
		padding: 30px 0;
	}
}